:root{
    --first-color: #3C729D;
    --second-color:#AA96C7;
    --third-color:#FEE79A;
    --white-color: #E7E1E5;
    --link-color: #3C3C50;
    --light-gray-color: #D3D3D3;
    --gray-color-primary: #2e2e2e;
    --font-family: 'Raleway', sans-serif;
    --font-paragraphs: 1.2rem;
    --max-width: 1400px;
    --header-height: 70px;
    --background: #3C729D;
    /* Responsive Breakpoints */
    /* cellphone: 576px;
    tablets: 758px;
    desktop: 992px;
    large-desktop: 1200px;
    larger-desktop: 1400px; */
 
}
 
/* *** Resets *** */
html{
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--white-color);
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3.5rem;
}
h3{
    font-size: 2.5rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}


/* *** Utilities *** */
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: var(--max-width);
    margin: auto;
}
.display__none{
    display: none!important;
}


/* *** Navbar *** */

.header__container{
    margin: auto;
    width: 100%;
    height: 10rem;
    justify-content: space-between;
    padding: 4rem;
    background: white;
}
.header__container--logo{
    text-transform: capitalize;
    letter-spacing: 2px;
    color: var(--first-color);
    width: max-content;
}
.header__container--nav ul{
    gap: 5px;
}
.header__container--nav ul li{
    width: max-content;
}
.header__container--nav ul li a{
    font-size: 1.7rem;
    text-transform: capitalize;
    font-weight: bold;
    padding: 1rem;
    letter-spacing: 2px;
    color: var(--link-color);
}
.header__container--nav ul li a:hover{
    color: black;
}
.nav__active{
    font-size: 2rem!important;
}

/* Subrayado de links */
.underline{
    position: relative;
}
.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--link-color);
    transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
}

/* *** user options *** */
/* *** animacion boton login *** */
.btn__login {
    font-size: 2rem;
    color: var(--link-color);
    font-weight: bold;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
.btn__login::before,
.btn__login::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
.btn__login::before {
    background-color: var(--first-color);
    height: 1px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.btn__login::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: var(--first-color);
}
  
.btn__login:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}
.btn__login:hover::after {
    transform: translate3d(0, 0, 0);
}
  
.btn__login span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.btn__login:hover span {
    transform: translate3d(-200%, 0, 0);
}


/* *** Hero Content*** */
.hero__container{
    background-color: var(--first-color);
    background-image: url(/img/hero__bubble-1.svg), url(/img/hero__bubble-2.svg), url(/img/hero__bubble-3.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 0vw bottom 30vh, left 60vw bottom 30vh, left -25vw top 20vh ;
    width: 100%;
    margin: auto;
    height: 70vh;
    padding: 4rem;
}


.hero__container--section{
    max-width: 50%;
}
.hero__container--section .hero__content h1{
    letter-spacing: 2px;
    font-size: 3rem;
    color: var(--white-color);
}
.hero__container--section .hero__content h1 span{
    font-size: 8rem;
}
.hero__container--section p{
    font-size: 1.7rem;
    color: var(--light-gray-color);
}
.hero__container--section .hero__img{
    width: 100%;
    animation: move__img 6s ease-in-out infinite;
}
@keyframes move__img {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
/* *** Grid gallery empresas*** */

.red__container{
    width: var(--max-width);
    margin: 4rem auto;
}
.red__container h3{
    text-align: center;
    font-size: 3rem;
    color: var(--first-color);
    letter-spacing: 2px;
}

.grid__gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.card{
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;
}
.card img{
    width: 100%;
    height: 100%;
}
.card__socials{
    position: relative;
    bottom: 15rem;
    left: -3rem;
}
.card__socials ul{
    display: flex;
    gap: 1rem;
}
.card__socials ul li{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--first-color);
}
.card__socials ul li a{
    font-size: 2.5rem;
    color: var(--white-color);
}
.card__socials ul li:nth-child(1){
    background-color: #3B5998;
}
.card__socials ul li:nth-child(2){
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    
}
.card__socials ul li:nth-child(3){
    background-color: #00acee;
}

.card__description{
    position: inherit;
    left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--first-color);
}
.card__description h3{
    position: inherit;
    left: 1rem;
    font-size: 2.5rem;
    font-weight: normal;
    color: var(--white-color);
}
.card__description p{
    position: inherit;
    margin: 1rem;
    font-size: 1.2rem;
}
.card__description a{
    padding: 1rem;
    font-weight: bold;
    background-color: var(--white-color);
    color: var(--first-color);
    font-size: 1.7rem;
    transition: all 500ms;
}
.card__description a:hover{
    background: var(--light-gray-color);
}






/* *** footer *** */
.footer__container{
    width: 100%;
    padding: 4rem;
    margin: auto;
    justify-content: space-between;
    background-color: #fff;
}
.footer__container--section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__container--section h3{
    font-size: 2.2rem;
    color: var(--first-color);
    position: relative;
}
.footer__container--section p{
    font-size: 1.5rem;
    max-width: 300px;
    text-align: justify;
    color: var(--gray-color-primary);
}
.footer__container--section h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background: var(--first-color);
    height: 3px;
    width: 70%;
}
.footer__container--section h3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background: var(--first-color);
    height: 1.5px;
    width: 100%;
}
.footer__container--section a{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--link-color);
    margin-bottom: 1.5rem;
}
.footer__redes{
    padding: 0 1rem;
    border-radius: 1rem;
}
.footer__redes:hover{
    background: var(--light-gray-color);
}
.copyright__container{
    max-height: 3rem;
    justify-content: center;
}
.copyright__container p{
    color: var(--link-color);
    font-size: 1.5rem;
}





