:root{
    --first-color: #3C729D;
    --second-color:#AA96C7;
    --third-color:#FEE79A;
    --white-color: #E7E1E5;
    --link-color: #252F63;
    --light-gray-color: #D3D3D3;
    --gray-color-primary: #2e2e2e;
    --gray-complementary-color: #3a3a3a;
    --font-family: 'Raleway', sans-serif;
    --font-paragraphs: 1.2rem;
    --max-width: 1200px;
    --header-height: 70px;
    --background: #3C729D;
    /* Responsive Breakpoints */
    /* cellphone: 576px;
    tablets: 758px;
    desktop: 992px;
    large-desktop: 1200px;
    larger-desktop: 1400px; */
 
}
 
/* *** Resets *** */
html{
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 5rem;
}
h3{
    font-size: 4rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}


/* *** Utilities *** */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: var(--max-width);
    margin: auto;
}
.display__none{
    display: none!important;
}


/* *** Navbar *** */
.header{
    background: var(--background);
    height: 10rem;
    z-index: 999;
}
.header__container{
    max-width: var(--max-width);
    padding: 0 1rem;
    line-height: 3rem;
    justify-content: space-between;
}
.header__logo h3{
    color: var(--white-color);
    font-size: 4rem;
}

.header__menu--btn i{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-style: normal;
    color: var(--white-color);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 500ms;
}
.header__menu--btn:hover.header__menu--btn i{
    background: var(--white-color);
    color: var(--first-color);
}
.header__nav{
    width: 100%;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 10rem;
    pointer-events: none;
    opacity: 0;
    transition: all 500ms;
    z-index: 999;
}
.header__nav.is__nav--active{
    pointer-events: auto;
    opacity: 1;
}
.header__nav a{
    font-size: 2rem;
    color: var(--white-color);
    letter-spacing: 1px;
    font-weight: bold;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    transition: all 500ms;
}
.header__nav a:hover{
    background: var(--white-color);
    color: var(--first-color);
}
.header__dropdown--btn{
    cursor: pointer;
}
.dropdown__content{
    display: flex;
    flex-direction: column;
    background: var(--white-color);
    margin-bottom: 1rem;
}
.dropdown__content a{
    width: 100%;
    color: var(--first-color);
    padding: 1rem;
}
.dropdown__content a:hover{
    background: var(--light-gray-color);
}


@media screen and (max-width: 1200px) {
    .header__nav{
        background: var(--first-color);
        box-shadow: 2px 4px 10px -5px black;
    }
}
@media screen and (min-width: 1200px) {
    .header{
        background: var(--background);
        height: 10rem;
    }
    .header__container{
        padding: 0 1rem;
        line-height: 3rem;
        justify-content: space-between;
    }
    .header__menu--btn i{
        display: none;
    }
    .header__nav{
        flex-direction: row;
        justify-content: space-between;
        position: inherit;
        max-width: 70%;
        pointer-events: auto;
        opacity: 1;
    }
    .header__nav a{
        font-size: 2rem;
        color: var(--white-color);
        letter-spacing: 1px;
        font-weight: bold;
        width: max-content;
        padding: 1rem;
        border-radius: 2rem;
        text-align: center;
        transition: all 500ms;
    }
    .header__nav a:hover{
        background: var(--white-color);
        color: var(--first-color);
    }
    .dropdown__content{
        position: absolute;
        top: 7rem;
        left: calc(100% - 20%);
    }
    .dropdown__content a{
        width: 100%;
        color: var(--first-color);
        padding: 1rem;
        border-radius: 0%;
    }
    .dropdown__content a:hover{
        background: var(--light-gray-color);
    }
    .header__dropdown--btn:hover{
        background: transparent!important;
        color: var(--white-color)!important;
    }
    .header.sticky__nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--white-color);
        box-shadow: .1rem .1rem 2rem -.5rem black;
    }
    .header.sticky__nav .header__logo h3 {
        color: var(--first-color);
    }

    .header.sticky__nav .header__nav a{
        color: var(--first-color);
    }
    .header.sticky__nav .header__nav a:hover{
        color: var(--white-color);
        background: var(--first-color);
    }
}

/* *** Hero section *** */
.hero{
    width: 100%;
    margin: auto;
    flex-direction: column;
    background: var(--background);
}
.hero__title{
    width: 90%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}
.hero__title h1{
    font-size: 4rem;
}
.hero__title span{
    font-size: 6rem;
}
.hero__description{
    width: 90%;
    max-width: var(--max-width);
    margin: auto;
    margin-top: -3rem;
    text-align: center;
}
.hero__description p{
    font-size: 1.5rem;
    color: var(--light-gray-color);
}
.hero__socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.hero__socials h3{
    color: var(--white-color);
    font-weight: normal;
    font-size: 3rem;
    margin: .7rem;

}
.hero__socials a i{
    width: 5rem;
    height: 5rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    color: var(--white-color);
    font-size: 3rem;
}
.hero__socials a i:hover{
    color: var(--first-color);
    background: var(--white-color);
}
.hero__waves{
    max-width: 100%;
    position: relative;
    bottom: 1rem;
    left: 0;
    transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
    .hero__title h1{
        font-size: 4rem;
    }
    .hero__title span{
        font-size: 7rem;
    }
    .hero__description{
        width: 70%;
        max-width: var(--max-width);
    }
    .hero__description p{
        font-size: 1.5rem;
        color: var(--light-gray-color);
    }
    .hero__socials{
        margin-top: -1rem ;
    }
}